<header class="admin-navbar">

    <div class="left">

        <h2 class="title">
            Admin Dashboard
        </h2>

    </div>

    <div class="right">

        <div class="profile">

            <div class="avatar">

                {{ user?.full_name?.charAt(0).toUpperCase() }}

            </div>

            <div class="user-info">

                <div class="name">

                    {{ user?.full_name }}

                </div>

                <div class="role">

                    Administrator

                </div>

            </div>

        </div>

        <button class="student-btn" routerLink="/dashboard">

            🎓 Student Panel

        </button>

        <button class="logout-btn" (click)="logout()">

            🚪 Logout

        </button>

    </div>

</header>