<nav class="navbar">

    <div class="left-section">

        <h2>

            CodeQuest

        </h2>

    </div>

    <!-- <div class="center-section">

        <input type="text" placeholder="Search Subjects...">

    </div> -->

    <div class="right-section">

        <button class="notification">

            🔔

        </button>

        <div class="profile">

            <div class="avatar">

                {{ username.charAt(0).toUpperCase() }}

            </div>

            <span>

                {{ username }}

            </span>

        </div>

        <button class="logout" (click)="logout()">

            Logout

        </button>

    </div>

</nav>